<h1>{{title}}</h1>
<hr/>
<input type="text" [(ngModel)]="spec.height"/>
<br/>
<span>
  
    <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250">
         <!--style="border: solid 1px gray"-->
        <rect x="0" [attr.y]="(1 * spec.height + spec.padding) * i" *ngFor="let bar of spec.bars; let i = index" 
              [attr.fill]="bar.color" 
              [attr.width]="bar.width" 
              [attr.height]="spec.height"/>
        <line x1="0" y1="0" x2="0" [attr.y2]="spec.overallHeight" style="stroke: black; stroke-width: 1px;"/>
        <line x1="0" y1="104" x2="70" y2="104" style="stroke: black; stroke-width: 1px;"/>
    </svg>
</span>
